*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
	margin:  0;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    font-family: 'Inter', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3;
}

html, body {}
body.locked {overflow: hidden;}

a {
	transition: .2s ease-out;
	color: #07e;
}


/* Landing Styles */
#hero-landing {
	background: #101D2F;
	position: relative;
	color: #fff;
	text-align: center;
}
#hero-landing:before {
	content: '';
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	background: url('../assets/broken-glass-bg.jpg') no-repeat;
	background-size: cover;
	opacity: .3;
}

#hero-landing .container {
	z-index: 2;
}



.container {
	position: relative;
	width: 100%;
	padding: 0 10px;
	max-width: 880px;
	margin: 0 auto;
}

#logo {
	padding: 0;
	text-align: left;
}
#hero-landing #logo {text-align: center;}
#logo svg {
	display: inline-block;
	height: auto;
	width: 155px;
}

#hero-landing .container {
	max-width: 720px;
}

.stars {
	margin: 10px 0;
}

#cta {
	margin: 30px 0;
}

img {
	width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6 {
	color: #101A24;
	line-height: 1.2;
}
h1,h2,h3,h4 {
	font-weight: 300;
}

h1 {font-size: 33px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 21px;}
h5 {font-size: 19px;}
h6 {font-size: 17px;}

p {
	line-height: 1.5;
}

pre {
	font-family: 'Inter', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #d2ba16;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

/*Buttons*/
.btn {
	display: inline-block;
	font-size: 15px;
	padding: 9px 20px;
	border-radius: 20px;
	border: 1px solid #07e;
	background: #07e;;
	color:  #fff;
	text-decoration: none;
	margin: 4px;
	cursor: pointer;
	transition: all .2s ease-out;
}
.btn:hover {
	background: #07e!important;
	color: #fff!important;
}
.btn.ghost {
	background: transparent;
	color: #07e;
}
.btn.ghost.white {
	color: #fff;
}

.text-link {
	color: #07e;
	padding: 4px 0;
	text-decoration: none;
}
.text-link:after {
	position: relative;
	display: inline-block;
	content: "\2192";
	margin-left: 5px;
	top: 0px;
	transition: 0.1s ease-out;
}
.text-link:hover {color: #06e;}
.text-link:hover:after {
	transform: translateX(17%);
}

.props {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 0 0;
}

.props span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 3px 10px;
}
.props img {
	width:  22px;
	display: inline-block;
	margin: 0 8px 0 0;
}
.props p {
	display: inline;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.hero-poster {
	box-shadow: 0 10px 40px -10px rgba(0,0,0,0.2);
	margin-top: -10vh;
    transform: translateY(10vh);
}
.hero-poster img {display: block;}

#hero-footer {
	background: #EAEFF8;
	padding: 150px 0 120px 0;
	text-align: center;
}

@media (max-width: 720px) {
	.props {
		flex-direction:  column;
		align-items: flex-start;
	}
	h1 {font-size: 24px;}
	h2 {font-size: 18px;}
}
@media (max-width: 420px) {
	h1 {font-size: 22px;}
	h2 {font-size: 17px;}
}

/* Landing Styles END */

/* Flex Grid */
[class*="flex-"],
.flex {
	display: flex;
	width: 100%;
}
.fx-wrap {flex-wrap: wrap;}
.fx-apart {justify-content: space-between;}
.fx-align-center {align-items: center;}
.fx-item-4 {flex: 0 0 25%;}
.fx-item-3 {flex: 0 0 33%;}
.fx-item-2 {flex: 0 0 50%;}
.fx-item-1 {flex: 0 0 100%;}
/* Media Col */
@media(max-width: 960px) {
	.fx-item-md-3 {flex-basis: 33%}
}
/* Sm Col */
@media(max-width: 780px) {
	.fx-item-sm-3 {flex-basis: 33%}
	.fx-item-sm-2 {flex-basis: 50%;}
	.fx-item-sm-1 {flex-basis: 100%;}
}
/* XS Col */
@media(max-width: 540px) {
	.fx-item-xs-2 {flex-basis: 50%;}
	.fx-item-xs-1 {flex-basis: 100%;}
}

/* Header */
header {
	display: flex;
    flex-direction: row;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	background: rgba(16, 29, 47, .1);
	z-index: 100;
	padding: 15px 0;
	box-shadow: 0 1px 0 0 rgba(16, 29, 47, .2);
	transition: background .2s ease-out;
}
header.scroll {
	background: rgba(16, 29, 47, .8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
header #logo {padding-top: 10px;}
header #logo img {
	width: 200px;
}
@media(max-width: 900px) {
	header #logo img {width: 180px;}
}
@media(max-width: 500px) {
	header #logo img {width: 150px;}
}

header #logo a {display: block;}
header #logo a:hover {opacity: .75;}

section#hero {
	position: relative;
	overflow: hidden;
	/*background-image: linear-gradient(180deg, #162535 0%, #101A24 100%);*/
	background: #101D2F;
	padding: 145px 0 70px 0;
}
section#hero:before {
	content: '';
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../assets/broken-glass-bg.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
}
@media(max-width: 540px) {
	section#hero.default {padding: 90px 0 45px 0;}
}

header .cta {
	display: inline-flex;
}
header .cta .btn:nth-child(1) {
	margin-right: 12px;
}
header .cta .btn.ghost {color: #fff!important;}

@media(max-width: 850px) {
	header {
		height: 60px;
	}
}
.hero-title {
	margin: 0 0 10px 0;
}
.hero-sub-title {
	margin: 0;
	color: #8CA9C5;
	font-size: 24px;
	font-weight: 100;
}
@media(max-width: 768px) {.hero-sub-title {font-size: 21px;}}
@media(max-width: 580px) {
	.hero-title {font-size: 15px;}
	.hero-sub-title {font-size: 18px;}
}


/* Navigation */
nav {
	margin: 0;
	text-align: center;
}
nav ul {
	display: inline-flex;
	padding: 0;
}
nav ul li {
	list-style: none;
	position: relative;
	margin: 0;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.015em;
	font-size: 16px;
	font-weight: 500;
	position: relative;
	color: #fff;
	padding: 10px 22px;
	white-space: nowrap;
}
nav ul li a:hover {opacity: .75;}
nav ul li.active a {opacity: 1!important;}
nav ul li.active a:after {
	content: '';
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 1px;
	transform:  translateX(-50%);
	background: #d2ba16;
	animation: nav-marker .2s cubic-bezier(0, 0, 0.40, 1.4) forwards .05s;
}


/* Mobile Navigation */
@media(max-width: 850px) {
	.mobile-hide {display: none!important;}
}
@media(min-width: 851px) {
	.hamburger {display: none!important;}
}

button.hamburger {
	display: inline-block;
	position: relative;
	height: 40px;
	width: 35px;
    overflow: visible;
    margin: 0;
    padding: 0;
    font-size: 0;
    background: transparent!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    outline: 0 !important;
    cursor: pointer;
    background: 0;
}
button.hamburger span {
	display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 27px;
    height: 1.5px;
    background: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
    -webkit-transition: width 0.15s ease 0.25s;
    transition: width 0.15s ease 0.25s;
}
button.hamburger span:before,
button.hamburger span:after {
	content: "";
    position: absolute;
    display: block;
    right: 0;
    width: 22px;
    height: 1.5px;
    background: #fff;
    opacity: 1 !important;
    -webkit-transition-duration: 0.1s, 0.1s;
    transition-duration: 0.1s, 0.1s;
    -webkit-transition-delay: 0.1s, 0s;
    transition-delay: 0.1s, 0s;
}
button.hamburger span:before {
	top: -7px;
    transition-property: top, -webkit-transform;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
}
button.hamburger span:after {
	top: 7px;
	transition-property: bottom, -webkit-transform;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}
button.hamburger.active span {
	width: 0px;
    -webkit-transition: width 0.1s;
    transition: width 0.1s;
}
button.hamburger.active span:before {
	top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
button.hamburger.active span:after {
	top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Mobile Nav */
#mobile-menu {
	display: none;
	position: fixed;
	height: 0;
	width: 0;
	text-align: center;
}
#mobile-menu.active {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 50;
	transition: background .2s ease-out;
	background: rgba(16, 26, 36, .8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#mobile-menu {padding: 100px 30px;}
#mobile-menu .border-offset {
	position: absolute;
	height: 86%;
    width: 95%;
    top: calc(50% + 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    z-index: -1;
}
#mobile-menu ul {margin-top: 25px!important;}
#mobile-menu li {
	padding: 5px;
	margin:  0 0 10px 0;
}
#mobile-menu li.active {font-weight: bold;}

#mobile-menu a {
	color: #fff;
	text-decoration: none;
}
#mobile-menu .mobile-cta {
	margin-top: 35px;
}
#mobile-menu .mobile-cta .btn {margin: 5px;}

/* Nav breakpoints */
@media(max-width: 900px) {
	nav ul li a {
		padding: 10px;
	}
}


/* Article template */
#page.article header {background: rgba(16, 26, 36, .8);}
#page.article #content {
	min-height: calc(100vh - 140px);
	padding-top: 140px;
    padding-bottom: 100px;	
}
.article-heading {}
.article-date {
	margin-bottom: 40px!important;
}
.article-content {
	border-top: 1px solid #ddd;
	padding-top: 30px;
}
.back-to a {text-decoration: none;}
.back-to {
	font-weight: 600;
	font-size: 12.4px;
}
.back-to span {
	position: relative;
	top: 1px;
}


/*List Styles*/
ul.list-clear {list-style: none; padding: 0; margin: 0;}
ul.list-dash {
	list-style: none;
	margin: 0 0 22px 0;
	padding: 0;
}

ul.list-dash li {
	position: relative;
	padding: 0 0 0 24px;
	margin: 0 0 7px 0;
}
ul.list-dash li:before {
	content: '';
	position: absolute;
	left: 0;
	top:  10px;
	height: 1px;
	width: 15px;
	background: #d2ba16;
}

img {max-width: 100%; height: auto;}

hr {
	height: 1px;
	border: 0;
	width: 100%;
	background-color: #d2ba16;
	margin: 2rem 0;
}

@media(max-width: 767px) {pre {font-size: 16px;}}
@media(max-width: 500px) {pre {font-size: 15px;}}
.center {text-align: center;}
.white {color: #fff;}

.container {
	display: block;
	width: 100%;
	padding: 0 15px;
	max-width: 1250px;
	margin: 0 auto;
}
.container:before,
.container:after {
	content: '';
	display: table;
}
.container:after {clear: both;}

.container.thin {max-width: 1024px;}
.container.thiner {max-width: 768px;}
.container.thinest {max-width: 540px;}

#content {
	min-height: 70vh;
	padding: 50px 0;
	position: relative;
}
#content:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(180deg, #FCFAF6 0%, #FFFFFF 100%);
	z-index: -1;
}

@media(max-width: 540px) {
	#content {padding-top: 25px;}
}

footer {
	background-image: linear-gradient(180deg, #162535 0%, #101A24 100%);
	padding: 40px 0 60px 0;
}
footer .footer-logo svg {
	display: inline-block;
	width: 140px; 
	height: auto;
}
footer p {
	color: #8CA9C5;
	font-size: 13.5px;
	margin: 8px 0 0 0;
}


/* Home Styles */
.opening {margin-bottom: 7%;}
.home-statment {
	padding: 0 2%;
}
.statment {width: 58%;} 
.badge {}
.badge svg {
	display: inline-block;
	height: 200px;
	width: auto;
}
.statment .hero-sub-title {
	font-size: 42px;
	line-height: 1.2em;
}
.statment p {color: #fff;}

@media(max-width: 800px) {
	.statment .hero-sub-title {font-size: 33px;}
}
@media(max-width: 500px) {
	.home-statment {flex-direction: column;}
	.statment {width: 90%; margin-bottom: 40px;}
	.statment .hero-sub-title {font-size: 26px;}
}

.portals {

}
.portal-item {
	position: relative;
	flex-direction: column;
	flex:  1;
	width: 40%;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #fff;
	padding: 75px 5%;
	margin: 2%;
}
.portal-item.work {background-image: url(../assets/poster.jpg);}

.portal-item h2 {color: #fff; margin: 0 0 15px 0;}
.portal-item p {
	margin: 0 0 30px 0;
	color: #8CA9C5;
	font-size: 14px;
}
.portal-item .btn {margin-top: auto;}
.portal-item span.wash {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16,26,36,.8);
    opacity: 1;
    z-index: 1;
    transition: .5s ease-out;
}
/*.portal-item span.wash:before,
.portal-item span.wash:after {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	border:  1px solid #8CA9C5;
	opacity: 0.3;
}
.portal-item span.wash:after {transform: translate(5px, 5px);}*/
.portal-item * {
	position: relative;
	z-index: 2;
}

@media(max-width: 680px) {
	.home-portals {flex-direction: column;}
	.portal-item {
		width: 100%;
		margin: 10px 0;
	}
}

.home-intro {
	padding: 50px 0 80px 0;
}
.home-intro .intro {
	width: 100%;
	flex: 1 0 100%;
}

@media(min-width: 767px) {
	.home-intro .intro {
		width: 50%;
		flex: 0 0 50%;
	}
}
@media(max-width: 768px) {
	/*.home-intro .flex {flex-direction: column;}*/
}

.services-grid {
	flex:  1;
}
.services-grid .card-meta h5 {
	font-size: 15px;
    font-weight: 600;
    letter-spacing: .015em;
}
.services-grid .cards {padding-top: 0;}
@media(min-width: 767px) {
	.services-grid {padding-left: 70px;}
}
.services-grid .fx-item-2:nth-of-type(odd) {
	transform: translateY(15px);
}

#featured-news {
	background-image: linear-gradient(180deg, #f7f7f7 0%, #FFFFFF 100%);
	padding: 80px 0;
	overflow: hidden;
}

.cards {
	padding: 50px 0 0 0;
}

.cards img {
	display: block;
	height: auto;
	width: 100%;
	transition: 0.5s ease-out, filter .25s ease-out;
}

.card-item {
	position: relative;
	margin: 12px;
	margin-bottom: 0;
}
.card-item.sm .card-meta {
	padding: 6px;
	margin-bottom: -12px;
}
.card-link {
	position: absolute;
	top:  0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.card-image {
	background-color: #eee;
	min-height: 50px;
	overflow: hidden;
}
.card-meta {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	transform:  translateY(-50%);
	margin-bottom: -30px;
	transition: 0.5s ease-out;
}
.card-meta.lg {
	padding: 15px 20px;
	margin-bottom: -20px;
    transform: translateY(-35px);
	width: 90%;
}
.card-meta.sm {
	padding: 8px 12px;
	transform: translateY(-20%);
	margin-bottom: -18px;
}
.card-meta h2 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
}
.card-meta h4 {
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}
.card-meta h5,
.card-meta h6 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}
.card-meta h6 {
	font-weight: 500;
	font-size: 15.5px;
}
.card-meta p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.card-item:hover .card-meta {
	box-shadow: 0 5px 25px -8px rgba(32,32,32,.2);
}
.card-item:hover img {transform: scale(1.05);}

/* Services styles */
#services {}
.service-item:nth-child(odd) .flex {flex-direction: row-reverse;}
.service-item {margin-bottom: 5.5em;}

.service-info,
.service-img {padding: 0 15px;}
.service-img img {
	display: block;
	position: relative;
	transform: translate(-6px, -6px);
    z-index: -1;
}

@media(max-width: 780px) {
	.service-item{margin-bottom: 3em;}
	.service-info{margin-bottom: 3em;}
}
@media(max-width: 540px) {
	.service-item{margin-bottom: 2em;}
}
@media(min-width: 779px) { 
	.service-info {padding: 0 8%;}
}

/*CSS Animation Keyframes*/
@keyframes nav-marker {
	100% {width: 45%;}
} 
/*LazyLoad Blur Loader*/
.blur {
	width: 100%;
	-webkit-filter: blur(15px);
	filter: blur(15px);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}


/* Spacing Utilities */

/* Margin */
.margin-none {margin: 0!important;}
.mt-0 {margin-top: 0!important;}
.mt-1 {margin-top: 1em;}
.mt-2 {margin-top: 2em;}
.mt-3 {margin-top: 3em;}
.mt-4 {margin-top: 4em;}
.mt-5 {margin-top: 5em;}
.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 1em;}
.mb-2 {margin-bottom: 2em;}
.mb-3 {margin-bottom: 3em;}
.mb-4 {margin-bottom: 4em;}
.mb-5 {margin-bottom: 5em;}
.ml-1 {margin-left: 1em;}
.ml-2 {margin-left: 2em;}
.ml-3 {margin-left: 3em;}
.ml-4 {margin-left: 4em;}
.ml-5 {margin-left: 5em;}
.mr-1 {margin-right: 1em;}
.mr-2 {margin-right: 2em;}
.mr-3 {margin-right: 3em;}
.mr-4 {margin-right: 4em;}
.mr-5 {margin-right: 5em;}

.my-0 {margin-top: 0em!important; margin-bottom: 0em!important;}
.my-1 {margin-top: 1em!important; margin-bottom: 1em!important;}
.my-2 {margin-top: 2em!important; margin-bottom: 2em!important;}
.my-3 {margin-top: 3em!important; margin-bottom: 3em!important;}
.my-4 {margin-top: 4em!important; margin-bottom: 4em!important;}
.my-5 {margin-top: 5em!important; margin-bottom: 5em!important;}
.mx-0 {margin-left: 0!important; margin-right: 0!important;}
.mx-1 {margin-left: 1em!important; margin-right: 1em!important;}
.mx-2 {margin-left: 2em!important; margin-right: 2em!important;}
.mx-3 {margin-left: 3em!important; margin-right: 3em!important;}
.mx-4 {margin-left: 4em!important; margin-right: 4em!important;}
.mx-5 {margin-left: 5em!important; margin-right: 5em!important;}

/* Padding */
.padding-none {padding: 0!important;}
.pt-0 {padding-top: 0!important;}
.pt-1 {padding-top: 1em;}
.pt-2 {padding-top: 2em;}
.pt-3 {padding-top: 3em;}
.pt-4 {padding-top: 4em;}
.pt-5 {padding-top: 5em;}
.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 1em;}
.pb-2 {padding-bottom: 2em;}
.pb-3 {padding-bottom: 3em;}
.pb-4 {padding-bottom: 4em;}
.pb-5 {padding-bottom: 5em;}
.pl-1 {padding-left: 1em;}
.pl-2 {padding-left: 2em;}
.pl-3 {padding-left: 3em;}
.pl-4 {padding-left: 4em;}
.pl-5 {padding-left: 5em;}
.pr-1 {padding-right: 1em;}
.pr-2 {padding-right: 2em;}
.pr-3 {padding-right: 3em;}
.pr-4 {padding-right: 4em;}
.pr-5 {padding-right: 5em;}

.py-0 {padding-top: 0em!important; padding-bottom: 0em!important;}
.py-1 {padding-top: 1em!important; padding-bottom: 1em!important;}
.py-2 {padding-top: 2em!important; padding-bottom: 2em!important;}
.py-3 {padding-top: 3em!important; padding-bottom: 3em!important;}
.py-4 {padding-top: 4em!important; padding-bottom: 4em!important;}
.py-5 {padding-top: 5em!important; padding-bottom: 5em!important;}
.px-0 {padding-left: 0!important; padding-right: 0!important;}
.px-1 {padding-left: 1em!important; padding-right: 1em!important;}
.px-2 {padding-left: 2em!important; padding-right: 2em!important;}
.px-3 {padding-left: 3em!important; padding-right: 3em!important;}
.px-4 {padding-left: 4em!important; padding-right: 4em!important;}
.px-5 {padding-left: 5em!important; padding-right: 5em!important;}

/* Utility : Small */
@media(max-width: 500px) {
	.py-sm-1 {padding-top: 1em!important; padding-bottom: 1em!important;}
	.px-sm-1 {padding-left: 1em!important; padding-right: 1em!important;}
	.mt-sm-0 {margin-top: 0;}
	.mt-sm-1 {margin-top: 1em;}
	.mt-sm-2 {margin-top: 2em;}
}
