<section id="hero" class="home">
	<div class="container thin white opening mt-2 mt-sm-0">
		<div class="flex fx-apart fx-align-center home-statment">
			<div class="statment">
				<pre class="hero-title">Remote Auto-Glass Repair</pre>
				<div class="hero-sub-title">Servicing the Desoto County and Memphis areas!</div>
				<p>Give us a call for a free quote today! &nbsp;<a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
				<div class="props">
					<span>
						<img src="../assets/icon-check-shield.svg" />
						<p>lifetime warranty</p>
					</span>
					<span>
						<img src="../assets/icon-checkered-flag.svg" />
						<p>fast repairs</p>
					</span>
					<span>
						<img src="../assets/icon-quick-van.svg" />
						<p>fully remote service</p>
					</span>
				</div>
			</div>
			<div class="badge">
				Badge here...
			</div>
		</div>
	</div>
	<div class="container white portals">
		<div class="flex fx-apart home-portals">
			<div class="portal-item work flex fx-align-center">
				<h2>Main headline box title</h2>
				<p>Lorem Ipsum is simply dummy text of the print and web industry.</p>
				<a href="/services" class="btn">Browse Services</a>
				<span class="wash"></span>
			</div>
			<div class="portal-item work flex fx-align-center">
				<h2>Main headline box title</h2>
				<p>Lorem Ipsum is simply dummy text of the print and web industry.</p>
				<a href="/contact" class="btn">Request Job</a>
				<span class="wash"></span>
			</div>
		</div>
	</div>
</section>