<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="page" class="article {{ page.title | slugify }}">
      {% include header.html %} 
      {% include mobile-menu.html %}
      <div id="content" class="plus-tile-tx">
        <div class="container thiner">
          <div class="back-to">
              {% if page.url contains "services" %}
              <a href="/services">
                <span>{% include left-arrow.html %}</span>
                All Services</a>
              {% else %}
                <a href="/news">
                  <span>{% include left-arrow.html %}</span>
                  Back to News</a>
              {% endif %}
          </div>
          <h1 class="article-heading">{{ page.title }}</h1>
          {% if page.url contains "news" %}
          <ul class="article-date list-dash"> 
            <li>{{ page.date | date_to_string: "ordinal", "US" }}</li>
          </ul>
          {% endif %}
          <div class="article-content">{{ content }}</div>
        </div>
      </div>
      {% include footer.html %}
      <script src="../js/scripts.js"></script>
    </div>
  </body>
</html>
