<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body> 
    <div id="page" class="{{ page.title | slugify }}">
      {% include header.html %}
      {% include mobile-menu.html %}
      {% if page.url == '/' %}
        {% include home-hero.html %}
      {% else %}
        {% include default-hero.html %}
      {% endif %} 
      <div id="content">{{ content }}</div>
      {% include footer.html %}
      <script src="../js/scripts.js"></script>
    </div>
  </body>
</html>
